#{extends 'base-backs.html' /}

<div class="backpage">
	<div class="backpage-nav">
		<ul class="breadcrumb">
		  <li><a href="@{application.Backpage}">首页</a> <span class="divider">/</span></li>
	      <li><a href="@{application.Checkmylist}">我的"谁来"</a> <span class="divider">/</span></li>
		  <li><a href="@{application.Myinfo}">修改个人信息</a> <span class="divider">/</span></li>
		  <li class="active">修改密码<span class="divider">/</span></li>
		  <li><a href="@{application.Mytag}">添加我的标签</a> <span class="divider">/</span></li>
	</ul>
	</div>
		#{if flash.error}
	<div class="alert alert-error">
    ${flash.error}
    </div>
	#{/if}
	
	
	#{if flash.success}
	<div class="alert alert-success">
    ${flash.success}
    </div>
	#{/if}
	
	<form class="form-horizontal myinfo-form" action="@{Application.updatePassword}">
		<div class="control-group">
			<label class="control-label" for="old_password"><span class="red">*</span>旧密码</label>
				<div class="controls">
				<input type="password" class="input-xlarge" name="oldPassword" id="old_password" onblur="onOldBlur(this);" placeholder="输入旧密码">
				<span id="oldpasswordtip" class="label label-important hide"></span>
			</div>
	    </div>

	  <div class="control-group">
	  <label class="control-label" for="new_password"><span class="red">*</span>新密码</label>
	  <div class="controls">
	    <input type="password" class="input-xlarge" name="newPassword" id="new_password" onblur="onNewBlur(this);" placeholder="输入新密码">
	    <span id="newpasswordtip" class="label label-important hide"></span>
	  </div>
	  </div>

	   <div class="control-group">
	  <label class="control-label" for="confirm_password"><span class="red">*</span>确认密码</label>
	  <div class="controls">
	    <input type="password" class="input-xlarge" name="repeatPassword" id="confirm_password" onblur="onConfirmBlur(this);" placeholder="重复输入密码">
	    <span id="confirmpasswordtip" class="label label-important hide"></span>
	  </div>
	  </div>
		<div class="myinfo-from-actions">
		  <input type="submit" class="btn btn-primary" value="保存"/>
		  
		</div>
	</form>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$("#message").fadeIn("slow").fadeTo(3E3,0.99).fadeOut("slow");
 });
	function onUpdate(){
		if($("#old_password").val() == ''){
			$("#oldpasswordtip").text("旧密码不能为空");
			$("#oldpasswordtip").show();
		}else if($("#new_password").val()==''){
			$("#newpasswordtip").text("新密码不能为空");
			$("#newpasswordtip").show();
		}else if($("#new_password").val()!=$("#confirm_password").val()){
			$("#confirmpasswordtip").text("两次密码输入不一样");
			$("#confirmpasswordtip").show();
		}else{
			document.getElementById("updatePWForm").submit();
		}
 	}
	function onOldBlur(obj){
		if(obj.value==''){
			$("#oldpasswordtip").text("旧密码不能为空");
			$("#oldpasswordtip").show();
		}else{
			$("#oldpasswordtip").hide();
		}
	}
	function onNewBlur(obj){
		if(obj.value==$("#confirm_password").val()){
			$("#confirmpasswordtip").hide();
		}
		if(obj.value==''){
			$("#newpasswordtip").text("新密码不能为空");
			$("#newpasswordtip").show();
		}else{
			$("#newpasswordtip").hide();
		}
	}
	function onConfirmBlur(obj){
		if(obj.value!=$("#new_password").val()){
			$("#confirmpasswordtip").text("两次密码输入不一样");
			$("#confirmpasswordtip").show();
		}else{
			$("#confirmpasswordtip").hide();
		}
	}
	
	</script>